<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Crunchyroll</title>
</head>
<body class="box">
<!-- ----------HERE IS THE FRONT PAGE -------------------->
    <div class="Navbar">
        <div><h1>crunchyroll</h1></div>
        <div><h2>Browse</h2></div>
        <div><h2>History</h2></div>
        <div><h2>Searchbar</h2></div>
        <div><a href="/logpage"><h2>Login</h2></a></div>
        <!-- we need to make this login a link/button and make it redirect towards the login/registration -->
    </div>
    <!-- Here I wanna make one of those sliding banners that they have in normal streaming services
    and Im just gonna put funny stuff here and there. I wanna focus on the functionality and the serious stuff
    can come later-->
    <div class="Banner">
        <div>
            <!-- for the life of me I cant figure out how to make this picture show up on the page -->
            <img src="/crunchyroll-app/flask_app/static/img/cory-in-the-house-anime.jpg" alt="Cory-Anime">
        </div>

    </div>
    <div class="row">
        <!-- Here Im wanting to make a "most popular" or popular right now section-->
        <h3>Most Popular</h3>
        <div class="row-box">
            <p class="vid">example video </p>
            <p class="vid">another video</p>
        </div>
    </div>

</body>
</html>